@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	border: 0 ;
	font-family: 'Inter', sans-serif;
	outline: none ;
	border-collapse: collapse;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}

html {
	background: #FBFBFB;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button,
input {
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 40px;
}