.header {
    margin-top: 30px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        display: inline-flex;
        gap: 51px;
        align-items: center;
    }

    &__list {
        display: inline-flex;
        gap: 12px;

        &-item {
            border-radius: 5px;
            color: $grayColor;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            line-height: calc(24px / 14px) * 100%;
            display: flex;
            transition: .3s all;
        }

        &-item.active,
        &-item:hover {
            color: #ffffff;
            background: $redColor;
        }

        &-item a {
            font-family: 'PT', sans-serif;
            padding: 12px 22px;
        }
    }
}

.langs {
    display: inline-flex;
    gap: 12px;
}

.langs__item {
    font-size: 14px;
    font-weight: 500;
    line-height: calc(24px / 14px) * 100%;
    color: #808080;
}

.langs__item.active {
    color: #000000;
}

.burger-btn,
.mobile__menu {
    display: none;
}

@media(max-width: 1279px) {
    .header {
        &__nav {
            display: none;
        }

        &__content {
            gap: 32px;
        }
    }
    .burger-btn {
        width: 42px;
        height: 42px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .mobile__menu {
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px;

        z-index: -1;
        opacity: 0;
        transition: .5s all;

        .header__nav,
        .langs {
            display: flex;
        }

        &-header {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }

        &-close {
            width: 42px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 60%;
            }
        }
    }

    .mobile__menu.active {
        z-index: 50;
        opacity: 1;
    }

    .header__list {
        flex-direction: column;

        &-item {
            font-size: 18px;
            width: fit-content;
        }
    }

    .mobile__menu .langs {
        display: none;
    }

    .langs {

        &__item {
            font-size: 14px;
        }
    }
}

@media(max-width: 990px) {
    .mobile__menu {
        gap: 30px;
        padding: 30px;
    }
}

@media(max-width: 767px) {
    .header {
        margin-top: 24px;
        &__content .langs {
            display: none;
        }
        .mobile__menu .langs {
            display: flex;
            padding-left: 20px;
        }
        &__logo {
            max-width: 65%;
        }
    }

    .burger-btn {
        width: 30px;
        height: 30px;

        img {
            width: 75%;
        }
    }

    .mobile__menu {
        padding: 24px;

        &-close {
            width: 30px;
            height: 30px;
        }
    }

    .langs__item {
        font-size: 18px;
    }
}

@media(max-width: 479px) {
    .header {
        &__list-item,
        .mobile__menu .langs__item {
            font-size: 14px;
        }
    }
}