@import 'base/variables';
@import 'blocks/_contact.scss';
@import 'blocks/_trust';

// PROMO SECTION

.promo {
    margin-top: 80px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__offer {
        max-width: 486px;

        &-descr {
            font-size: 18px;
            font-weight: 300;
            line-height: calc(26px / 18px) * 100%;
        }

        &-btn {
            margin-top: 28px;
        }
    }

    &__img {
        margin-top: 80px;
        border-radius: 24px;
    }
}

@media(max-width: 1279px) {
    .promo {
        margin-top: 84px;

        &__offer {
            max-width: 434px;

            &-descr {
                font-size: 16px;
            }
        }
    }
}

@media(max-width: 990px) {
    .promo {
        &__header {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }
        &__offer {
            max-width: 62%;
        }
    }
}

@media(max-width: 767px) {
    .promo {
        margin-top: 57px;

        &__offer {
            max-width: 80%;
        }

        &__img {
            display: none;
        }
    }
}

@media(max-width: 479px) {
    .promo {
        &__offer {
            max-width: 100%;

            &-descr {
                font-size: 14px;
            }

            &-btn {
                margin-top: 32px;
            }
        }
    }
}

// SERVICES SECTION

.services {
    margin-top: 154px;

    &__tabs {
        margin-top: 48px;
        display: flex;
        justify-content: center;
    }

    &__tab {
        padding-bottom: 12px;
        font-size: 24px;
        font-weight: 300;
        line-height: calc(26px / 24px) * 100%;
        min-width: 439px;
        color: $grayColor;
        border-bottom: 1px solid $grayColor;
        transition: .3s all;
    }

    &__tab.active {
        color: #000000;
        border-bottom: 1px solid $redColor;
    }

    &__content {
        margin-top: 48px;
        grid-template-columns: repeat(3, 275px);
        justify-content: center;
        column-gap: 80px;

        display: none;
    }

    &__content.active {
        display: grid;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 8px;
        height: 170px;

        &-title {
            font-size: 18px;
            font-weight: 300;
            line-height: calc(26px / 18px) * 100%;
        }
    }
}

@media(max-width: 990px) {
    .services {
        &__tab {
            min-width: auto;
            width: 50%;
            font-size: 20px;
        }
        &__content {
            grid-template-columns: repeat(3, 1fr);
            gap: 40px 20px;
        }
    }
}

@media(max-width: 767px) {
    .services {
        margin-top: 94px;

        &__tabs {
            margin-top: 12px;
            flex-direction: column;
        }

        &__tab {
            width: 100%;
            padding: 14px 5px;
        }

        &__content {
            grid-template-columns: repeat(2, 1fr);
        }

        &__item {
            height: auto;
            min-height: 120px;

            &-title {
                font-size: 16px;
            }
        }
    }
}

@media(max-width: 479px) {
    .services {
        &__tab {
            padding: 12px 5px;
            font-size: 16px;
            line-height: 26px;
        }
        &__content {
            margin-top: 50px;
            gap: 32px 16px;
        }
        &__item {
            &-photo {
                width: 48px;
            }
            &-title {
                font-size: 14px;
            }
        }
    }
}

// NEWS SECTION

.news {
    margin-top: 154px;

    &__items {
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    &__item {
        display: flex;

        &-preview {
            width: calc(384px / 1200px) * 100%;
            object-fit: cover;
            border-radius: 5px 0 0 5px;
        }

        &-content {
            max-width: 100%;
            border-radius: 0 5px 5px 0;
        }
    }

    &__content {
        padding: 24px;
        padding-bottom: 74px;
        border: 1px solid #E7E6E6;
        background: #FAFAFA;

        &-date {
            font-size: 14px;
            font-weight: 300;
            line-height: calc(26px / 14px) * 100%;
        }

        &-title {
            margin-top: 12px;
            font-size: 24px;
            font-weight: 500;
            line-height: calc(26px / 24px) * 100%;
        }

        &-descr {
            margin-top: 16px;
            font-size: 16px;
            font-weight: 300;
            line-height: calc(24px / 16px) * 100%;
        }
    }

    &-btn {
        margin-top: 32px;
        gap: 10px;
    }

    &-btn i {
        font-size: 10px;
    }
}

@media(max-width: 1279px) {
    .news__item-preview {
        width: calc(384px / 977px) * 100%;
    }
}

@media(max-width: 990px) {
    .news {
        &__content {
            padding: 20px;
        }
    }
}

@media(max-width: 767px) {
    .news {
        margin-top: 94px;

        &__items {
            margin-top: 12px;
            gap: 32px;
        }

        &__item {
            flex-direction: column;

            &-preview {
                width: 100%;
                border-radius: 5px 5px 0px 0px;
            }

            &-content {
                border-radius: 0px 0px 5px 5px;
            }
        }
    }
}

@media(max-width: 479px) {
    .news {
        &__content {
            padding: 12px;

            &-title {
                font-size: 20px;
            }

            &-descr {
                font-size: 14px;
            }
        }
    }
}

// GEO SECTION

.geo {
    margin-top: 154px;

    &__subtitle {
        margin-top: 16px;
        font-size: 18px;
        font-weight: 300;
        line-height: calc(26px / 18px) * 100%;
    }

    &__map {
        margin-top: 48px;
        justify-content: center;
        display: flex;
        position: relative;
    }

    &__point {
        animation-name: geoPoint;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        cursor: pointer;
    }

    &__point:hover {
        fill: $redColor !important;
    }

    &__offices {
        margin-top: 100px;
    }
}

.offices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    &__pagination {
        width: 100%;
        margin-top: 36px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

        &-control {
            width: 36px;
            height: 36px;
            border-radius: 8px;
            border: 1px solid #E7E6E6;
        }

        &-item {
            width: 32px;
            height: 32px;
            border-radius: 6px;
            border-width: 2px;
            font-size: 16px;
            font-weight: 500;
            line-height: calc(20px / 16px) * 100%;
            letter-spacing: -0.05000000074505806px;
            color: #4F4D55;
        }

        &-item.active {
            border: 2px solid $redColor;
            color: $redColor;
        }
    }
}

.office {
    position: relative;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 16px 0;
        background: #00000066;
        color: #ffffff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 13px;

        i {
            font-size: 22px;
        }

        &-city {
            font-size: 20px;
            font-weight: 500;
            line-height: calc(26px / 20px) * 100%;
        }
    }
}

@keyframes geoPoint {
    0% {
        
    }
    50% {
        fill: #2e0206;
    }
    100% {
        
    }
}

@media(max-width: 1279px) {
    .offices {
        gap: 19.52px;
    }
    .office {
        height: 244px;

        &__info {
            padding: 14px 0;
            gap: 11px;

            i {
                font-size: 19px;
            }

            &-city {
                font-size: 16px;
            }
        }
    }
}

@media(max-width: 990px) {
    .offices {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 767px) {
    .geo {
        display: none;
    }
}

// CONTACT SECTION

.contact {
    margin-top: 140px;
}