@import 'base/variables';

// PROMO SECTION

.promo {
    margin-top: 80px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 48px;
        font-weight: 700;
        text-shadow: 0px 2px #00000040;
        line-height: calc(57.6px / 48px) * 100%;
    }

    &__offer {
        max-width: 486px;

        &-descr {
            font-size: 18px;
            font-weight: 300;
            line-height: calc(26px / 18px) * 100%;
        }

        &-btn {
            margin-top: 28px;
            padding: 14px 22px;
        }
    }

    &__img {
        margin-top: 80px;
        border-radius: 24px;
    }
}

// SERVICES SECTION

.services {
    margin-top: 154px;

    &__tabs {
        margin-top: 48px;
        display: flex;
        justify-content: center;
    }

    &__tab {
        padding-bottom: 12px;
        font-size: 24px;
        font-weight: 300;
        line-height: calc(26px / 24px) * 100%;
        min-width: 439px;
        color: $grayColor;
        border-bottom: 1px solid $grayColor;
        transition: .3s all;
    }

    &__tab.active {
        color: #000000;
        border-bottom: 1px solid $redColor;
    }

    &__content {
        margin-top: 48px;
        grid-template-columns: repeat(3, 275px);
        justify-content: center;
        column-gap: 80px;

        display: none;
    }

    &__content.active {
        display: grid;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 8px;
        height: 170px;

        &-title {
            font-size: 18px;
            font-weight: 300;
            line-height: calc(26px / 18px) * 100%;
        }
    }
}

// TRUST SECTION

.trust {
    margin-top: 140px;
    padding-top: 16px;
    overflow: hidden;

    &__swiper {
        margin-top: 48px;
        width: calc(100% + 55vw);

        &-control {
            margin-top: 32px;
            display: flex;
            justify-content: flex-end;
            gap: 12px;
        }

        &-btn {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            border: 1px solid #E7E6E6;
            background-color: #FAFAFA;
            transition: .3s all;
        }

        &-btn:hover {
            border: 1px solid #000000;
            background-color: #000000;
        }

        &-btn:hover div {
            color: #fff;
        }
    }

    &__card {
        width: 486px !important;
        height: auto !important;
        padding: 16px 24px 55px 24px;
        gap: 8px;
        border-radius: 5px;
        background: #FAFAFA;
        border: 1px solid #E7E6E6;

        &-logo {
            width: 225px;
            height: 69px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-logo img {
            max-width: 100%;
        }

        &-descr {
            margin-top: 8px;
            font-size: 16px;
            font-weight: 300;
            line-height: calc(24px / 16px) * 100%;
        }
    }

    &__stat {
        margin-top: 80px;
        display: flex;
        gap: 64px;
        justify-content: space-between;
        align-items: center;

        &-img {
            border-radius: 70px 70px 12px 12px;
        }

        &-list {
            border-left: 1px solid #E7E6E6;
            padding: 55px 100px 55px 64px;
        }
    }
}

.stat__list {
    display: flex;
    flex-direction: column;
    gap: 60px;

    &-item-number {
        font-size: 36px;
        font-weight: 600;
        line-height: calc(48px / 36px) * 100%;
        position: relative;
    }

    &-item-number::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -20px;
        width: 50px;
        height: 8px;
        background-color: $redColor;
    }

    &-item-description {
        margin-top: 32px;
        font-size: 18px;
        font-weight: 300;
        line-height: calc(26px / 18px) * 100%;
    }
}

// NEWS SECTION

.news {
    margin-top: 154px;

    &__items {
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    &__item {
        display: flex;

        &-preview {
            width: calc(384px / 1200px) * 100%;
            object-fit: cover;
        }

        &-content {
            max-width: 100%;
        }
    }

    &__content {
        padding: 24px;
        padding-bottom: 74px;
        border: 1px solid #E7E6E6;
        background: #FAFAFA;

        &-date {
            font-size: 14px;
            font-weight: 300;
            line-height: calc(26px / 14px) * 100%;
        }

        &-title {
            margin-top: 12px;
            font-size: 24px;
            font-weight: 500;
            line-height: calc(26px / 24px) * 100%;
        }

        &-descr {
            margin-top: 16px;
            font-size: 16px;
            font-weight: 300;
            line-height: calc(24px / 16px) * 100%;
        }
    }

    &-btn {
        margin-top: 32px;
        padding: 14px 22px;
        gap: 10px;
    }

    &-btn i {
        font-size: 10px;
    }
}

// GEO SECTION

.geo {
    margin-top: 154px;

    &__subtitle {
        margin-top: 16px;
        font-size: 18px;
        font-weight: 300;
        line-height: calc(26px / 18px) * 100%;
    }

    &__map {
        margin-top: 48px;
        justify-content: center;
        display: flex;
        position: relative;
    }

    &__point {
        animation-name: geoPoint;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        cursor: pointer;
    }

    &__point:hover {
        fill: $redColor !important;
    }
}

@keyframes geoPoint {
    0% {
        
    }
    50% {
        fill: #2e0206;
    }
    100% {
        
    }
}

// CONTACT SECTION

.contact {
    margin-top: 140px;
    padding: 0 40px;

    &__wrapper {
        margin: 0 auto;
        max-width: 933px;
        background: #FAFAFA;
        border: 1px solid #E7E6E6;
        border-radius: 15px;
        padding: 62px;
        display: flex;
        justify-content: space-between;
    }

    &__call {
        display: flex;
        flex-direction: column;

        &-title {
            font-size: 48px;
            font-weight: 600;
            line-height: calc(57.6px / 48px) * 100%;
        }
        &-subtitle {
            margin-top: 16px;
            max-width: 261px;
            font-size: 16px;
            font-weight: 300;
            line-height: calc(24px / 16px) * 100%;
        }
        &-btn {
            margin-top: auto;
            padding: 8.5px 0;
            max-width: 350px;
            width: 100%;
            gap: 15px;
        }
        &-btn i {
            font-size: 15px;
        }
    }

    &__form {
        width: 320px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        &-input {
            padding: 10px 14px 10px 42px;
            border: 1px solid rgba(255, 255, 255, .4);
            border-radius: 8px;
            box-shadow: 0px 1px 1px 0px #0000001F,
            0px 0px 0px 1px #676E7629,
            0px 2px 5px 0px #676E7614;
            font-family: 'PT';
            font-size: 16px;
            font-weight: 400;
            line-height: calc(24px / 16px) * 100%;
            color: $grayColor;
            background: url('../img/common/planet.svg')
            left 14px center / contain no-repeat;
            background-size: 16px;
        }

        &-input::placeholder {
            color: $grayColor;
        }

        &-accept {
            font-size: 16px;
            font-weight: 300;
            line-height: calc(24px / 16px) * 100%;
            color: #707070;
        }

        &-btn {
            padding: 8.5px 0;
            gap: 10px;
        }

        &-btn i {
            font-size: 10px;
        }
    }
}