// TEAM SECTION

@import 'base/variables';
@import 'blocks/_contact.scss';

.team {
    margin-top: 80px;

    &__btn {
        margin-top: 24px;
    }

    &__items {
        border-top: 1px solid #E6E6E6;
        margin-top: 50px;
        padding-top: 32px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    &__item {
        height: 100%;
        display: flex;
        align-items: center;

        &-img {
            display: flex;
            max-height: 180px;
            max-width: 180px;

            img {
                border-radius: 8px;
                object-fit: cover;
            }
        }

        &-name {
            font-size: 16px;
            font-weight: 500;
            line-height: calc(22px / 16px) * 100%;
            letter-spacing: -0.18000000715255737px;
        }

        &-post {
            font-size: 14px;
            font-weight: 400;
            line-height: calc(20px / 14px) * 100%;
            letter-spacing: -0.05000000074505806px;
        }

        &-descr {
            margin-top: 10px;
            font-size: 14px;
            font-weight: 400;
            line-height: calc(20px / 14px) * 100%;
            letter-spacing: -0.05000000074505806px;
            color: #4F4D55;
        }
    }

    &__item-content {
        padding-left: 32px;
    }

    &__item-header {
        display: flex;
        justify-content: space-between;
    }

    &__item-city {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        height: fit-content;

        i {
            font-size: 17px;
            color: $redColor;
        }

        span {
            font-size: 14px;
            font-weight: 500;
            line-height: calc(20px / 14px) * 100%;
        }
    }
}

@media(max-width: 1279px) {
    .team {
        &__items {
            display: flex;
            flex-direction: column;
        }

        &__item {
            max-width: 588px;

            &-img {
                max-width: 200px;
                max-height: 200px;
            }
        }
    }
}

@media(max-width: 767px) {
    .team {
        margin-top: 57px;
        &__item-img {
            max-width: 150px;
            max-height: 150px;
        }
        &__item-content {
            padding-left: 20px;
        }
    }
}

@media(max-width: 574px) {
    .team {

        &__items {
            margin-top: 80px;
            gap: 36px;
        }

        &__item {
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
        }

        &__item-img {
            max-width: 170px;
            max-height: 170px;
        }

        &__item-content {
            max-width: 80%;
            min-width: 346px;
            padding-left: 0;
        }
    }
}

@media(max-width: 410px) {
    .team {

        &__btn {
            margin-top: 16px;
        }

        &__items {
            gap: 32px;
        }

        &__item {
            gap: 16px;

            &-content {
                max-width: 80%;
                min-width: 272px;
            }

            &-name {
                font-size: 14px;
            }

            &-post {
                font-size: 12px;
            }

            &-descr {
                font-size: 12px;
            }

            &-img {
                max-width: 140px;
                max-height: 140px;
            }
        }

    }
}

// CONTACT SECTION

.contact {
    margin-top: 230px;
}

@media(max-width: 1279px) {
    .contact {
        margin-top: 200px;
    }
}